Package: fr.famille.youthibz
Name: YouThibz
Version: 0.1.0
Architecture: iphoneos-arm64
Description: Tweak YouTube personnel (usage familial).
Maintainer: NorthernnLights
Author: NorthernnLights
Section: Tweaks
Depends: mobilesubstrate
